@{
    var ImageAvatar = User.Claims.FirstOrDefault(x => x.Type == "ImageAvatar")?.Value;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewData["Title"] - FixitTH</title>
    <environment include="Development">
        <link rel="shortcut icon" type="image/png" href="~/image/favicon.png" />
        <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/ionicon/css/ionicons.min.css">
        <link rel="stylesheet" href="~/css/daterange/daterangepicker.css">
        <link rel="stylesheet" href="~/css/datepicker/bootstrap-datepicker.css">
        <link rel="stylesheet" href="~/css/timepicker/bootstrap-timepicker.min.css">
        <link rel="stylesheet" href="~/css/select2/select2.min.css" />
        <link rel="stylesheet" href="~/css/AdminLTE.min.css">
        <link rel="stylesheet" href="~/css/skins/_all-skins.min.css">
        <link rel="stylesheet" href="~/css/fixman.css">
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
    </environment>
</head>
<body class="sidebar-collapse sidebar-mini skin-purple-light">
    <div class="wrapper">
        <header class="main-header">
            <a href="/" class="logo">
                <span class="logo-mini">Fix</span>
                <span class="logo-lg">FixitTH</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@ImageAvatar" class="user-image" alt="User Image">
                                <span class="hidden-xs">&nbsp;</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="rigth-menu" style="padding:2px 2px;">
                                    <a style="padding:5px 5px;" href="/User/Profile">
                                        Profile @if (User.Identity.IsAuthenticated)
                                                 {
                                                    <span>[</span> @User.Identity.Name <span>]</span>
                                                 }
                                    </a>
                                </li>                                
                                <li class="rigth-menu" style="padding:2px 2px;">
                                    <a style="padding:5px 5px;" href="/Auth/SignOut">Sign Out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>RM</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left  pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="~/rm/ticket">
                                    <i class="fa fa-circle-o"></i>Ticket
                                </a>
                            </li>
                            <li>
                                <a href="~/rm/ticket/list">
                                    <i class="fa fa-circle-o"></i>Ticket list
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-calendar"></i>
                            <span>PM</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="~/pm/plan">
                                    <i class="fa fa-circle-o"></i> Plan
                                </a>
                            </li>
                            <li>
                                <a href="~/pm/ticket">
                                    <i class="fa fa-circle-o"></i> Ticket
                                </a>
                            </li>
                            <li>
                                <a href="~/pm/ticket/list">
                                    <i class="fa fa-circle-o"></i> Ticket list
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa  fa-cubes"></i>
                            <span>Stock</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="/product/list">
                                    <i class="fa fa-circle-o"></i>Product/Machine
                                </a>
                            </li>
                            <li>
                                <a href="/receive/list">
                                    <i class="fa fa-circle-o"></i>Receive
                                </a>
                            </li>
                            <li>
                                <a href="/pickup/list">
                                    <i class="fa fa-circle-o"></i>Picking up
                                </a>
                            </li>
                            <li>
                                <a href="/stock/list">
                                    <i class="fa fa-circle-o"></i>Stock Count
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-line-chart"></i>
                            <span>Report</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Report
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-users"></i>
                            <span>User/Role</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="../forms/general.html">
                                    <i class="fa fa-circle-o"></i> User
                                </a>
                            </li>
                            <li class="{{.m_role_list}}">
                                <a href="/normal/?entity=roles">
                                    <i class="fa fa-circle-o"></i>Role
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview {{.m_setting}}">
                        <a href="#">
                            <i class="fa fa-gear"></i>
                            <span>Setting</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="/setting">
                                    <i class="fa fa-circle-o"></i> Setting
                                </a>
                            </li>
                            <li>
                                <a href="/master">
                                    <i class="fa fa-circle-o"></i> Master Data
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong> Copyright &copy; 2018 <a href="#">FixitTH</a>. </strong> All rights reserved.
        </footer>
    </div>
    <div class="modal modal-default fade" id="delete-global-modal">
        <div class="modal-dialog">
            <div class="modal-content" id="delete-global-modal-content" style=" border-radius: 8px; ">
                <input type="hidden" id="global-delete-id" name="global-delete-id" />
                <input type="hidden" id="global-delete-url" name="global-delete-url" />
                <input type="hidden" id="global-delete-xsrf" name="global-delete-xsrf" />
                <div class="modal-header alert-danger" style=" border-top-left-radius: 8px; border-top-right-radius: 8px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title ">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger fade in no-margin" style="display:none" id="global-delete-alert">
                    </div>
                    <p>Do you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Cancel </button>
                    <button type="button" onclick="deleteGlobal()" class="btn btn-warning">
                        <i class="fa fa-trash-o"></i> Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-default fade" id="room-global-modal">
        <div class="modal-dialog" style="height: 100%;width:55%">
            <div class="modal-content" style=" border-radius: 8px; ">
                <div id="showroom">

                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-default fade" id="reserve-global-modal">
        <div class="modal-dialog" style="height: 100%;width:55%">
            <div class="modal-content" style=" border-radius: 8px; ">
                <div id="reserve">

                </div>
            </div>
        </div>
    </div>
    <environment include="Development">
        <script src="~/js/select2/select2.min.js"></script>
        <script src="~/js/jquery.slimscroll.min.js"></script>
        <script src="~/js/fastclick.js"></script>
        <script src="~/js/moment/moment.js"></script>
        <script src="~/js/daterange/daterangepicker.js"></script>
        <script src="~/js/timepicker/js/bootstrap-timepicker.js"></script>
        <script src="~/js/adminlte.min.js"></script>
        <script src="~/js/room.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
    <script>
        String.prototype.format = function (args) {
            var str = this;
            return str.replace(String.prototype.format.regex, function (item) {
                var intVal = parseInt(item.substring(1, item.length - 1));
                var replace;
                if (intVal >= 0) {
                    replace = args[intVal];
                } else if (intVal === -1) {
                    replace = "{";
                } else if (intVal === -2) {
                    replace = "}";
                } else {
                    replace = "";
                }
                return replace;
            });
        };
        String.prototype.format.regex = new RegExp("{-?[0-9]+}", "g");
        $(document).ready(function () {
            $('.sidebar-menu').tree();
        })
        if (localStorage.getItem('avatar') == '') {
            $('.user-image').attr('src', '@ImageAvatar');
        } else {
            $('.user-image').attr('src', localStorage.getItem('avatar'));
        }
    </script>
</body>
</html>



